@{
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}
@model HospitalRevisitSystem.ViewModels.LogOnModel
@{
    ViewBag.Title = "用户登录";
}
 


<div class="row-fluid">
    <div class="span4" ></div>
@using (Html.BeginForm()) {
    <div class="span4" style="padding-top:200px">
        <fieldset>
            <legend>用户登录</legend>
@Html.ValidationSummary(true, "用户账户或密码不正确")
            <div class="editor-label">
                @Html.LabelFor(m => m.Staff_Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Staff_Name)
                @Html.ValidationMessageFor(m => m.Staff_Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

           
            <p>
                <input type="submit" class="btn btn-success" value="登录" />
            </p>
        </fieldset>
    </div>
}
    <div class="span4"></div>
</div>