@model HospitalRevisitSystem.tbReview_Project_Name

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbReview_Project_Name</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Review_Project_Name_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Review_Project_Name_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Review_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Review_Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
