@model HospitalRevisitSystem.tbDeal_Way

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbDeal_Way</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deal_Way_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deal_Way_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Processing_Method)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Processing_Method)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
