
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HospitalRevisitSystem.tbCirculation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbCirculation</legend>

       

        <div class="editor-label">
       处理顺序号
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Processor_Serial_Number)
            @Html.ValidationMessageFor(model => model.Processor_Serial_Number)
        </div>

        <div class="editor-label">
        医院科室机构名称编码
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Department_ID)
            @Html.ValidationMessageFor(model => model.Department_ID)
        </div>

       
        <p>
            @Html.ActionLink("取消", "Index","Circulation",null,new {@class= "btn"}) <input type="submit" value="提交" class="btn btn-success" />
        </p>
    </fieldset>
}


