@model HospitalRevisitSystem.tbVisits_Information

@{
    ViewBag.Title = "Create";
}

<h2>新增预约就诊信息</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbVisits_Information</legend>

        

        <div class="editor-label">
            患者基本信息编码
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Patient_ID)
            @Html.ValidationMessageFor(model => model.Patient_ID)
        </div>

        <div class="editor-label">
            预约日期
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Submit_Date)
            @Html.ValidationMessageFor(model => model.Submit_Date)
        </div>

        <div class="editor-label">
            预约科室
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.The_Reservation_Department)
            @Html.ValidationMessageFor(model => model.The_Reservation_Department)
        </div>

        <div class="editor-label">
            预约医生
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZocDoc)
            @Html.ValidationMessageFor(model => model.ZocDoc)
        </div>

        <div class="editor-label">
            记录生成日期
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Records_Generated_Date)
            @Html.ValidationMessageFor(model => model.Records_Generated_Date)
        </div>

        <div class="editor-label">
            是否履约
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Is_Exercise, "false", new { Checked = "checked" }) 否
            @Html.RadioButtonFor(model => model.Is_Exercise, "true") 是
        </div>

        <div class="editor-label">
            履约核实员工编码
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Exercise_Staff_No)
            @Html.ValidationMessageFor(model => model.Exercise_Staff_No)
        </div>

        <div class="editor-label">
            备注
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


