@model IEnumerable<HospitalRevisitSystem.tbVisits_Information>

@{
    ViewBag.Title = "Index";
}

<h2>预约就诊信息列表</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        
        <th>
           患者基本信息编码
        </th>
        <th>
            预约日期
        </th>
        <th>
            预约科室
        </th>
        <th>
            预约医生
        </th>
        <th>
           记录生成日期
        </th>
        <th>
            是否履约
        </th>
        <th>
           履约员工核实编码
        </th>
        <th>
            备注
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Visits_Information_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submit_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.The_Reservation_Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZocDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Records_Generated_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Exercise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise_Staff_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
