@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<HospitalRevisitSystem.tbContent_Record>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "ContentRecord", FormMethod.Get))
{
    <p>
        名称: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="查询" class="btn btn-primary" />@Html.ActionLink("新增", "Create","ContentRecord",null,new {@class= "btn"})
    </p>
}
<table class="table table-bordered">
    <tr>
        
        <th>
            内容
        </th>
        <th>
            上级编码
        </th>
        <th>
            顺序号
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content_Record_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Superior_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sequence_Number)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new {  id=item.Content_Record_ID },new {@class= "btn btn-success"}) |
           
            @Html.ActionLink("删除", "Delete", new {  id=item.Content_Record_ID },new {@class= "btn"})
        </td>
    </tr>
}

</table>
@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )