@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<HospitalRevisitSystem.tbCaller_Question>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@using (Html.BeginForm("Index", "CallerQuestion", FormMethod.Get))
{
    <p>
        名称: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="查询" class="btn btn-primary" />@Html.ActionLink("新增", "Create","CallerQuestion",null,new {@class= "btn"})
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            调查题目表回访内容
        </th>
        <th>
            调查问卷表名称
        </th>
        <th>
           调查题目表编码
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbInvestigation_Question.Review_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCaller_Title.Caller_Title_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Investigation_Question_ID)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Caller_Question_ID  },new {@class= "btn btn-success"}) |           
            @Html.ActionLink("删除", "Delete", new {  id=item.Caller_Question_ID },new {@class= "btn"})
        </td>
    </tr>
}

</table>
@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )   